@model Hospital_Management_System.Entity.ViewModels.HospitalDetailsViewModel

@{
    ViewData["Title"] = "Hospital Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #e9ecef;
            font-family: 'Arial', sans-serif;
            transition: opacity 0.5s ease;
        }

        .fade-out {
            opacity: 0;
        }

        .container {
            margin-top: 50px;
        }

        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .btn-primary {
            color: #fff;
            background-color: #4575bd;
            border-color: #007bff;
        }

        .card-header {
            background-color: #4575bd;
            color: white;
            font-weight: bold;
            border-bottom: none;
        }

        .card-body {
            padding: 20px;
        }

        .table {
            width: 100%;
            margin-bottom: 1rem;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

            .table th, .table td {
                padding: 0.75rem;
                vertical-align: middle;
                border-top: 1px solid #dee2e6;
            }

            .table thead th {
                vertical-align: bottom;
                border-bottom: 2px solid #dee2e6;
                background-color: #4575bd;
                color: white;
            }

            .table tbody tr:nth-of-type(even) {
                background-color: #f9f9f9;
            }

        .table-hover tbody tr:hover {
            background-color: #e9ecef;
        }

        .nav-link {
            color: #007bff;
            text-decoration: none;
            padding: 0.25rem 0.75rem;
            border-radius: 5px;
            margin-top: 3px;
                text-align: center;
        }

            .nav-link:hover {
                text-decoration: none;
            }

        .bg-primary {
            background-color: #4575bd !important;
        }

            .bg-primary:hover {
                background-color: #4575bd !important;
            }

        .text-white {
            color: #fff !important;
        }

        .rounded {
            border-radius: 5px;
        }

        .dl-horizontal dt {
            float: left;
            width: 150px;
            font-weight: bold;
        }

        .dl-horizontal dd {
            margin-left: 160px;
        }
    </style>
</head>
<body>
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="card">
            <div class="card-header">
                <h4>Hospital Details</h4>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Hospital.Id)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Hospital.Id)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Hospital.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Hospital.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Hospital.Adress)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Hospital.Adress)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Hospital.PhoneNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Hospital.PhoneNumber)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Hospital.Username)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Hospital.Username)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Hospital.Password)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Hospital.Password)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4>Doctors List</h4>
            </div>

            <div class="card-body">
                <p>
                    <a class="nav-link bg-primary bg-primary-50 text-white d-inline-block rounded" asp-controller="Doctor" asp-action="Create">Add New Doctor</a>
                </p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Doctors.First().Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Doctors.First().Surname)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Doctors.First().BranchName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Doctors.First().PhoneNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Doctors.First().Username)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Doctors.First().Password)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Doctors.First().Id)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var doctor in Model.Doctors)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => doctor.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => doctor.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => doctor.BranchName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => doctor.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => doctor.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => doctor.Password)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => doctor.Id)
                                </td>
                                <td>
                                    <a class="nav-link bg-primary bg-primary-50 text-white  rounded" asp-action="Details" asp-controller="Doctor" asp-route-id="@doctor.Id" class="nav-link">Details</a>
                                    <a class="nav-link bg-primary bg-primary-50 text-white  rounded" asp-action="Edit" asp-controller="Doctor" asp-route-id="@doctor.Id" class="nav-link">Edit</a>
                                    <a class="nav-link bg-primary bg-primary-50 text-white  rounded" asp-action="Delete" asp-route-id="@doctor.Id" onclick="return confirm('Do You Want to Delete?')">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center">
            <a asp-action="Edit" asp-route-id="@Model?.Hospital.Id"  class="btn btn-primary" >Edit</a>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const links = document.querySelectorAll("a.nav-link");

            links.forEach(link => {
                link.addEventListener("click", function (event) {
                    event.preventDefault();
                    const href = this.getAttribute("href");

                    document.body.classList.add("fade-out");

                    setTimeout(() => {
                        window.location.href = href;
                    }, 500);
                });
            });

            window.addEventListener("pageshow", function (event) {
                if (event.persisted) {
                    document.body.classList.remove("fade-out");
                }
            });
        });
    </script>
</body>
</html>
