@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital_Management_System.App.WebMvcUI</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Medic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--// Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="~/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->
    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <!-- //Web-Fonts -->
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <!-- top-bar -->
        <div class="top-bar py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 top-social-agile">
                        <div class="row">
                            <!-- social icons -->
                            <ul class="col-lg-4 col-6 top-right-info text-center">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="mx-3">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="ml-3">
                                    <a href="#">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- //social icons -->
                            <div class="col-6 header-top_w3layouts pl-3 text-lg-left text-center">
                                <p class="text-white">
                                    <i class="fas fa-map-marker-alt mr-2"></i>
                                    Barbaros Bulvarı  Beşiktaş,İstanbul
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 top-social-agile text-lg-right text-center">
                        <div class="row">
                            <div class="col-lg-7 col-6 top-w3layouts">
                                <p class="text-white">
                                    <i class="far fa-envelope-open mr-2"></i>
                                    <a href="mailto:info@example.com" class="text-white">info@example.com</a>
                                </p>
                            </div>
                            <div class="col-lg-5 col-6 header-w3layouts pl-4 text-lg-left">
                                <p class="text-white">
                                    <i class="fas fa-phone mr-2"></i>+1 000263676
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="home">
        <!-- navigation -->
        <div class="main-top py-1">
            <nav class="navbar navbar-expand-lg navbar-light fixed-navi">
                <div class="container">
                    <!-- logo -->
                    <h1>
                        <a class="navbar-brand font-weight-bold font-italic" href="~/Home/Index">
                            <span>Wiss</span>Hoss
                            <i class="fas fa-syringe"></i>
                        </a>
                    </h1>
                    <!-- //logo -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-lg-auto">
                            <li class="nav-item active mt-lg-0 mt-3">
                                <a class="nav-link" href="~/Home/Index">
                                    Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item mx-lg-4 my-lg-0 my-3">
                                <a class="nav-link" href="~/Home/About">About Us</a>
                            </li>
                            <li class="nav-item mx-lg-4 my-lg-0 my-3">
                                <a class="nav-link" href="~/Home/Gallery">Gallery</a>
                            </li>
                            <li class="nav-item mx-lg-4 my-lg-0 my-3">
                                <a class="nav-link" href="~/AppointmentRequest/Appointment">Appointment</a>
                            </li>
                          
                        </ul>
                        <ul class="navbar-nav">
                            @if (User.Identity.IsAuthenticated)
                            {
                                string userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;

                                <li class="nav-item ml-lg-5 mt-lg-0 mt-4 mb-lg-0 mb-3">
                                    @if (User.IsInRole("admin"))
                                    {
                                        <a href="@Url.Action("Index", "Admin", new { id = userId })" class="nav-link">
                                            <i class="fas fa-user-circle"></i> Account
                                        </a>
                                    }
                                    else if (User.IsInRole("hospital"))
                                    {
                                        <a href="@Url.Action("Details", "Hospital", new { id = userId })" class="nav-link">
                                            <i class="fas fa-user-circle"></i> Account
                                        </a>
                                    }
                                    else if (User.IsInRole("doctor"))
                                    {
                                        <a href="@Url.Action("Details", "Doctor", new { id = userId })" class="nav-link">
                                            <i class="fas fa-user-circle"></i> Account
                                        </a>
                                    }
                                    else if (User.IsInRole("patient"))
                                    {
                                        <a href="@Url.Action("Details", "Patient", new { id = userId })" class="nav-link">
                                            <i class="fas fa-user-circle"></i> Account
                                        </a>
                                    }
                                </li>
                                <li class="nav-item ml-lg-2 mt-lg-0 mt-4 mb-lg-0 mb-3">
                                    <form action="@Url.Action("Logout", "Account")" method="post" class="nav-link p-0">
                                        <button type="submit" class="btn btn-link p-0">
                                            <i class="fas fa-sign-out-alt"></i> Logout
                                        </button>
                                        @Html.AntiForgeryToken()
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item ml-lg-5 mt-lg-0 mt-4 mb-lg-0 mb-3">
                                    <a href="@Url.Action("Login", "Account")" class="nav-link">
                                        <i class="fas fa-sign-in-alt mr-2"></i> Login
                                    </a>
                                </li>
                                <li class="nav-item ml-lg-5 mt-lg-0 mt-4 mb-lg-0 mb-3">
                                    <a href="@Url.Action("Register", "Account")" class="nav-link">
                                        <i class="fas fa-user-plus mr-2"></i> Register
                                    </a>
                                </li>
                            }
                        </ul>


                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
   @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Hospital_Management_System.App.WebMvcUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/themes/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
