@using Hospital_Management_System.Entity.Entities
@model IEnumerable<Patient>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background: white;
            font-family: 'Arial', sans-serif;
        }

        .container {
            margin-top: 50px;
        }

        .table {
            width: 100%;
            margin-bottom: 1rem;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
        }

            .table th, .table td {
                padding: 0.5rem;
                vertical-align: middle;
                border-top: 1px solid #dee2e6;
            }

            .table thead th {
                vertical-align: middle;
                border-bottom: 2px solid #dee2e6;
                background-color: #17a2b8;
                color: white;
            }

            .table tbody tr:nth-of-type(even) {
                background-color: #f9f9f9;
            }

        .table-hover tbody tr:hover {
            background-color: #e9ecef;
            border-radius: 15px;
        }

        .nav-link {
            color: #fff;
            text-decoration: none;
            padding: 0.25rem 0.75rem;
            border-radius: 5px;
            margin-right: 5px;
        }

            .nav-link:hover {
                text-decoration: none;
                background-color: #fff; /* Hover durumunda arka plan rengini beyaz yapar */
                color: #000; /* Hover durumunda yazı rengini siyah yapar */
                margin-top: 3px;
            }

        .bg-primary {
            background-color: #007bff !important;
            margin-top: 3px;
        }

            .bg-primary:hover {
                background-color: #fff !important; /* Hover durumunda arka plan rengini beyaz yapar */
                color: #000 !important; /* Hover durumunda yazı rengini siyah yapar */
                margin-top: 3px;
            }

        .text-white {
            color: #fff !important;
        }

        .rounded {
            border-radius: 5px;
        }

        .new-patient-button {
            text-align: left;
            margin-top: 20px;
        }

            .new-patient-button a {
                display: inline-block;
                padding: 0.5rem 1rem;
                font-size: 0.875rem;
            }

        .title {
            color: white;
            font-family: 'Arial', sans-serif;
            margin-bottom: 20px;
            text-align: center;
            background-color: #17a2b8;
            padding: 0.25rem 0.5rem;
            border-radius: 5px;
            margin: 0 auto;
            font-size: 1.25rem;
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <br />
        <h4 class="title">Patients</h4>
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TcNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Adress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TcNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            <a class="nav-link bg-primary rounded" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="nav-link bg-primary rounded" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="nav-link bg-primary rounded" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
            <div class="new-patient-button">
                <a class="nav-link bg-primary rounded" asp-action="Create">New Patient</a>
            </div>
        </table>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
