@using Hospital_Management_System.Entity.Entities
@model IEnumerable<Patient>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3>Ürünler</h3>
<br />
<br />
<br />

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Surname)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Mail)
			</th>
						<th>
				@Html.DisplayNameFor(model => model.TcNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Adress)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</th>
						<th>
				@Html.DisplayNameFor(model => model.Username)
			</th>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Password)
			</th>


			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Surname)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BranchName)
				</td>
								<td>
					@Html.DisplayFor(modelItem => item.PhoneNumber)
				</td>
								<td>
					@Html.DisplayFor(modelItem => item.Username)
				</td>
								<td>
					@Html.DisplayFor(modelItem => item.Password)
				</td>
								<td>
					@Html.DisplayFor(modelItem => item.HospitalId)
				</td>


				<td>
					<a class="nav-link bg-primary bg-primary-50 text-white d-inline-block rounded" asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a class="nav-link bg-primary bg-primary-50 text-white d-inline-block rounded" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a class="nav-link bg-primary bg-primary-50 text-white d-inline-block rounded" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Silmek İstiyor musunuz?')">Delete</a>
				</td>
			</tr>
		}
		<p>
			<a class="nav-link bg-primary bg-primary-50 text-white d-inline-block rounded" asp-action="Create">Yeni Ürün</a>
		</p>
	</tbody>
</table>
