@using Hospital_Management_System.Entity.Entities
@model Prescription

@{
    ViewData["Title"] = "Details";

}

<div>
    <h4>Ürün Detayları</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrescriptionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrescriptionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoctorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Listeye Dön</a>
</div>
