@using Hospital_Management_System.Entity.Entities
@model IEnumerable<Prescription>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3>Ürünler</h3>
<br />
<br />
<br />

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MedicationName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PrescriptionDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Usage)
			</th>
						<th>
				@Html.DisplayNameFor(model => model.PatientId)
			</th>
						<th>
				@Html.DisplayNameFor(model => model.DoctorId)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MedicationName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PrescriptionDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Usage)
				</td>
								<td>
					@Html.DisplayFor(modelItem => item.PatientId)
				</td>
								<td>
					@Html.DisplayFor(modelItem => item.DoctorId)
				</td>
				<td>
					<a class="nav-link bg-primary bg-primary-50 text-white d-inline-block rounded" asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a class="nav-link bg-primary bg-primary-50 text-white d-inline-block rounded" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a class="nav-link bg-primary bg-primary-50 text-white d-inline-block rounded" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Silmek İstiyor musunuz?')">Delete</a>
				</td>
			</tr>
		}
		<p>
			<a class="nav-link bg-primary bg-primary-50 text-white d-inline-block rounded" asp-action="Create">Yeni Ürün</a>
		</p>
	</tbody>
</table>
